/Gui_QT/.idea/
/Gui_QT/venv/
/cairooverlaytest/.idea/
/opencv_examples/human_detection/.idea/
/.idea
/cairooverlaytest/venv/
/gstreamer-boilerplate-cpp-master/.idea/
/timepicker/.idea/
/uv-robot-ukb-android/.idea/
*.idea
*.idea*
