<launch>
  <include file="/opt/ros/noetic/share/gazebo_ros/launch/empty_world.launch">
    <!-- Because the world path is relative to GAZEBO_RESOURCE_PATH, we append to it here. -->
    <env name="GAZEBO_RESOURCE_PATH" value="$(env GAZEBO_RESOURCE_PATH):$(find beginner_tutorials)"/>
    <arg name="world_name" value="worlds/my.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <node name="publisher" pkg="beginner_tutorials" type="vehicle-publisher.py" required="true" output="screen"/>

  <node pkg="beginner_tutorials" type="vehicle-subscriber.py" name="vehicle-subscriber"
    output="screen">
    </node>

</launch>